# Cache and logs (Symfony2)
/www/app/cache/*
/www/app/logs/*
!www/app/cache/.gitkeep
!www/app/logs/.gitkeep

# Cache and logs (Symfony3)
/www/var/cache/*
/www/var/logs/*
!www/var/cache/.gitkeep
!www/var/logs/.gitkeep

# Parameters
/www/app/config/parameters.yml
/www/app/config/parameters.ini

# Managed by Composer
/www/app/bootstrap.php.cache
/www/var/bootstrap.php.cache
/www/bin/*
!www/bin/console
!www/bin/symfony_requirements
/www/vendor/

# Assets and user uploads
/www/web/bundles/
/www/web/uploads/

# PHPUnit
/www/app/phpunit.xml
w////phpunit.xml

# Composer PHAR
/composer.phar

/www/npm-debug.log
