[PHP]

date.timezone = {{ php5_timezone }}
display_errors = {{ php5_display_errors }}
display_startup_errors = {{ php5_display_startup_errors }}
error_reporting = {{ php5_error_reporting }}
log_errors = {{ php5_log_errors }}
memory_limit = {{ php5_memory_limit }}
